.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 14px 14px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 2px 2px 10px 10px rgba(0, 0, 0, 0.2);
}

.container h1 {
  font-weight: 300;
  margin-bottom: 10px;
}

.delete {
  background-color: rgb(197, 52, 52);
  border: none;
  border-radius: 20px;
  padding: 10px;
  color: white;
  transition: 0.4s;
  margin: 10px 5px;
}
.update {
  background-color: rgb(214, 214, 214);
  border: none;
  border-radius: 20px;
  padding: 10px;
  transition: 0.4s;
  margin-left: 10px;
}

.delete:hover {
  background-color: rgb(254, 124, 124);
}

.update:hover {
  background-color: darkgrey;
  color: white;
}

.add-update-button {
  background-color: purple;
  border: none;
  border-radius: 20px;
  padding: 10px;
  transition: 0.4s;
  margin-left: 10px;
  color: white;
  transition: 0.4s;
  margin-top: 10px;
}

.add-update-button:hover {
  background-color: rgb(213, 3, 213);
}

.input input {
  width: 300px;
  height: 50px;
  padding: 20px;
  border-radius: 20px;
  border-color: lightgray;
}

.section {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}
