* {
    margin: 0 auto;
    font-family: sans-serif;
    box-sizing: border-box;
  }
  body {
    background-color: #df95fa;
    height: 100vh;
    /* alinha tudo no centro e no meio da tela */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  