* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #18171c;
  width: 100%;
  max-width: 1080px;
  /* garante que sempre fica centralizado */
  margin: 0 auto;
  font-family: sans-serif;
  font-size: 16px;

}

button {
  cursor: pointer;
}