.container {
  padding: 0 14px;
  color: white;
}

.center {
  text-align: center;
  margin-bottom: 14px;
}

.content {
  max-width: 420px;
  background: #0f0f0f;
  margin: 24px auto;
  padding: 24px;
  border-radius: 8px;
}

/* não aplica a margen no ultimo item da margem */
.content p:not(:last-of-type) {
  margin-bottom: 16px;
}

.profit {
  color: #12f98a;
}

.loss {
  color: #f91257;
}

.content p {
    display: flex;
    width: 100%;
    justify-content: space-between;
}